.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  min-width: 0;
  min-height: 0;
}

.board-bar {
  padding: 8px 15px;
}

.board-name {
  font-size: 20px;
  font-weight: bold;
}

.board-wrapper {
  display: flex;
  flex-grow: 1;
  //   overflow-x: auto;
}

.board-columns {
  display: flex;
  flex-grow: 1;
  // background: #34495e;
}

.board-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;

  min-width: 300px;
  min-height: 60vh;
  margin-right: 47px;
  // padding: 25px;

  border-radius: 4px;
  background: #95a5a6;

  &:not(:first-child) {
    margin-left: 0;
  }
}

.column-title {
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.task-container {
  flex-grow: 1;
}

.task {
  display: flex;
  padding: 15px 12px;
  background: white;
  border-bottom: solid 1px #ddd;
  border-radius: 4px;
  min-height: 10vh;
  width: 18vw;
  margin-left: 0.7em;
  cursor: pointer;

  margin-bottom: 15px;

  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05),
    0 3px 14px 2px rgba(0, 0, 0, 0.05);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.task-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.add-icon {
  padding-left: 0.5em;
  color: white;
}

.cursor-style {
  cursor: pointer;
}

.error {
  font-size: small;
  color: red;
}
