<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav w-100 d-flex justify-content-between">
    <a class="nav-item nav-link" routerLink="/dashboard">Dashboard</a>
    <a class="nav-item nav-link cursor-type" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main content container -->
<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <app-alert></app-alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
